<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>EICheck</title>
    <meta charset=utf-8 />
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
    <div id="header">
    ※飲み物を選択
    </div>

   <h1>EICheck</h1>
    <div class="row-fluid">
      <div class="span8" id="main">
      	 <%= yield %>
      </div>
    </div>

    <div id="footer">
    Gaiax co.,ltd.
    </div>

    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
