				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="check?type=caffee" class="link"><span style="font-size:50px;">Coffee</span></a></h3>
										<p> Anytime  </p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="check?type=wine" class="link"><span style="font-size:50px;">Wine</span></a></h3>
										<p>after 18:00-</p>
									</header>
								</article>
							</section>


					</div>

